[Common]
Runreg=http://runregistry.web.cern.ch/runregistry/
# DATASET to look at (use oracle like search, % is the wild character
# %Online% ---> for online shifters flags
# %Express% ---> for offline shifters flags

Dataset = /PromptReco/%Collisions2015%:246908-251642

# which group of runs to look into (for collisions use Collisions15)
Group=Collisions15

# Minimum run number for collision is 246908 for zero-field data 
# First run with magnet ON; first collision run in 2015 is 246908
RunMin=251023
#RunMin=246908
RunMax=251883
# OPTIONAL RunList
#RunList="251025 251028 251143 251147 251149 251150 251153 251155 251156 251162 251168 251244 251251 251252 251493 251497 251498 251499 251500 251561 251638 251642"
#RunList="251161 251562 251643 251721 251883"
#RunList="251025 251028 251143 251147 251149 251150 251153 251155 251156 251162 251168 251244 251251 251252"

# list of quality flags
# Possible flags: L1t,Hlt,Pix,Strip,Ecal,Hcal,Dt,Rpc,Es,Csc,Castor,Track,Egam,Muon,Jmet,Lumi
# Lumi is only check in the COMMENTS column
# possible types: GOOD, BAD, EXCL. 
# Use NONE:NONE for no selection.
QFLAGS=L1tcalo:GOOD,L1tmu:GOOD,Hlt:GOOD,Pix:GOOD,Strip:GOOD,Ecal:GOOD,Hcal:GOOD,Dt:GOOD,Rpc:GOOD,Es:GOOD,Csc:GOOD,Track:GOOD,Egamma:GOOD,Muon:GOOD,Jetmet:GOOD,Lumi:GOOD
#QFLAGS=L1t:GOOD,Hlt:GOOD,Pix:GOOD,Strip:GOOD,Ecal:GOOD,Hcal:GOOD,Dt:GOOD,Rpc:GOOD,Es:GOOD,Csc:GOOD,Track:GOOD,Egamma:GOOD,Muon:GOOD,Jetmet:GOOD,Lumi:GOOD
#QFLAGS=NONE:NONE

#BField threshold value
BField_thr=3.7

#BeamPresetn threshold value
BEAMPRESENT=True
BEAMSTABLE=True

# list of DCS on status
# Possible partions: Bpix,Fpix,Tibtid,TecM,TecP,Tob,Ebm,Ebp,EeM,EeP,EsM,EsP,HbheA,HbheB,HbheC,Hf,Dtm,Dtp,Dt0,CscM,CscP,Rpc,Castor,NONE
# Removing Ho following the indication of Ted
DCS=Bpix,Fpix,Tibtid,TecM,TecP,Tob,Ebm,Ebp,EeM,EeP,EsM,EsP,HbheA,HbheB,HbheC,Hf,Dtm,Dtp,Dt0,CscM,CscP,Rpc
#DCS=NONE

# if NONE, no json output...
JSONFILE=Cert_246908-251883_13TeV_PromptReco_Collisions15_JSON.txt

#from here optional arguments, you can omit them

#Enery value (+- 500 Gev)
Beam_Ene=6500

DSSTATE= COMPLETED
NOLOWPU = True

# DBS check: check following PD in DBS before building final JSON.It can be a comma separated list
# if activated it will slow down the script
#DBS_PDS=/ZeroBias/Run2015B-v1/RAW
#USE_DAS=False
#DBSCACHE=True
#CACHEFILE=DAS2015A_cache.txt,DAS2015B_cache.txt,DAS2015C_cache.txt
